<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="pl" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="pl" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="pl" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="pl" ng-app="app" ng-controller="AppController as vm" class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="alexander ciesielski full stack full-stack developer mobile web hyprid app application iphone windows phone android angular angularjs javascript ionic meteor meteorjs java hibernate spring nodejs node.js front back end front-end back-end frontend backend">
	<title>Alexander Ciesielski - ciesielski.co</title>

	<!-- Bootstrap Core CSS -->
	<!-- <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"> -->

	<!-- Plugin CSS -->
	<!--<link rel="stylesheet" href="css/flag-icon.min.css" type="text/css">
	<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="css/animate.min.css" type="text/css">-->

	<!-- Custom CSS -->
	<!--<link rel="stylesheet" href="css/ciesielski-co.css" type="text/css">-->

	<!-- Custom Fonts -->
	<!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
	rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic"
	rel="stylesheet" type="text/css">-->

	<!-- Production CSS -->
	<link rel="stylesheet" href="css/ciesielski-co.min.css" type="text/css">



</head>

<body id="page-top">

	<!-- 
        <script>
            var loadingScreen = 
        </script>
    -->

	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Nawigacja</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand page-scroll" href="#page-top">ciesielski.co</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a translate class="page-scroll" href="#technologie">{{'TECHNOLOGIES'}}</a>
					</li>
					<li>
						<a class="page-scroll" href="#cv">CURRICULUM VITAE</a>
					</li>
					<li>
						<a class="page-scroll" href="#portfolio">PORTFOLIO</a>
					</li>
					<li>
						<a translate class="page-scroll" href="#kontakt">{{'CONTACT'}}</a>
					</li>
					<li ng-class="{'lang-active': (vm.langActive === 'de')}">
						<a href="" ng-click="vm.changeLanguage('de')"><span class="flag-icon flag-icon-de"></span></a>
					</li>
					<li ng-class="{'lang-active': (vm.langActive === 'gb')}">
						<a href="" ng-click="vm.changeLanguage('gb')"><span class="flag-icon flag-icon-gb"></span></a>
					</li>
					<li ng-class="{'lang-active': (vm.langActive === 'pl')}">
						<a href="" ng-click="vm.changeLanguage('pl')"><span class="flag-icon flag-icon-pl"></span></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>


	<header>
		<video loop muted autoplay poster="img/header.jpg" class="header-bg-video">
			<source src="img/header.webm" type="video/webm">
			<source src="img/header.mp4" type="video/mp4">
		</video>

		<div class="header-content">
			<div class="header-content-inner">
				<h1 style="height: 120px;"><i class="fa fa-code wow bounceIn text-primary"></i> <span id="typed"></span></h1>
				<hr>
				<p translate>{{'HI_MYNAMEIS'}} Alexander Ciesielski.</p>
				<p translate>{{'ABOUTME'}}</p>
				<p translate>{{'ABOUTME_2'}}</p>
				<p translate>{{'ABOUTME_3'}}</p>
				<a href="#technologie" class="btn btn-primary btn-xl page-scroll"><span translate>{{'LEARN_MORE'}}</span></a>
			</div>
		</div>
	</header>

	<section class="bg-primary" id="technologie">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 translate class="section-heading">{{'TECHNOLOGIES'}}</h2>
					<hr class="light">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-box">
						<i class="fa fa-4x fa-mobile wow bounceIn"></i>
						<h3>Front-End</h3>
						<p class="text-faded">HTML5, CSS,</p>
						<p class="text-faded">AngularJS, MeteorJS, Ionic</p>

					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-box">
						<i class="fa fa-4x fa-server wow bounceIn" data-wow-delay=".2s"></i>
						<h3>Back-End</h3>
						<p class="text-faded">Spring + Hibernate,</p>
						<p class="text-faded">Node.js, MeteorJS</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-box">
						<i class="fa fa-4x fa-database wow bounceIn" data-wow-delay=".4s"></i>
						<h3 translate>{{'DATABASES'}}</h3>
						<p class="text-faded">SQL (Oracle, Postgre, MySQL)</p>
						<p class="text-faded">NoSQL (MongoDB, Firebase)</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-box">
						<i class="fa fa-4x fa-heart wow bounceIn" data-wow-delay=".6s"></i>
						<h3 translate>{{'WILL_TO_LEARN'}}</h3>
						<p translate class="text-faded">{{'NONSTOP_SELFDEVELOPMENT'}}</p>
						<p translate class="text-faded">{{'AND_INTEREST_IN_TECHNOLOGIES'}}</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="cv" class="cv-table">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<h2 class="section-heading wow bounceIn">Curriculum Vitae</h2>
					<hr class="primary">
					<p translate>{{'CV_1'}}</p>
					<p translate>{{'CV_2'}}</p>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<p></p>
			</div>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<h3 translate class="section-heading wow bounceIn">{{'PROJECTS'}}</h3>
					<hr />
				</div>
			</div>

			<div class="table-responsive">
				<table class="table table-striped text-center">
					<thead>
						<tr>
							<th translate class="col-md-4 text-center">{{'WHEN'}}?</th>
							<th translate class="col-md-4 text-center">{{'WHERE'}}?</th>
							<th translate class="col-md-4 text-center">{{'WHAT'}}?</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>01/2015 - 10/2015</td>
							<td translate>Capgemini, {{'WROCLAW'}}</td>
							<td translate>{{'CAPGEMINI_DESCRIPTION'}}</td>
						</tr>

						<tr>
							<td>08/2014 - 12/2014</td>
							<td translate>Pentegy, {{'WARSZAWA'}}</td>
							<td translate>{{'PENTEGY_DESCRIPTION'}}</td>
						</tr>

						<tr>
							<td>01/2014 - 07/2014</td>
							<td translate>ACI Worldwide, {{'WARSZAWA'}}</td>
							<td translate>{{'ACI_DESCRIPTION'}}</td>
						</tr>

						<tr>
							<td>07/2010 - 08/2013</td>
							<td translate>{{'BILANS'}}</td>
							<td translate>{{'BILANS_DESCRIPTION'}}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<h3 translate class="section-heading wow bounceIn">{{'EDUCATION'}}</h3>
					<hr />
				</div>
			</div>

			<div class="table-responsive">
				<table class="table table-striped text-center">
					<thead>
						<tr>
							<th translate class="col-md-4 text-center" style="min-width:145px;">{{'WHEN'}}?</th>
							<th translate class="col-md-4 text-center">{{'WHERE'}}?</th>
							<th translate class="col-md-4 text-center">{{'WHAT'}}?</th>
						</tr>
					</thead>
					<tbody>

						<tr>
							<td>2009 - 2013</td>
							<td translate>{{'PJATK'}}</td>
							<td translate>{{'IT_ENGINEER'}}</td>
						</tr>

						<tr>
							<td>2003 - 2009</td>
							<td translate>{{'WBS'}}</td>
							<td translate>{{'MATURA'}}</td>
						</tr>

					</tbody>
				</table>
			</div>

		</div>
	</section>

	<section class="no-padding" id="portfolio">
		<div class="container-fluid">

			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading wow bounceIn">Portfolio</h2>
					<hr />
				</div>
			</div>

			<div class="row no-gutter">
				<div class="col-lg-4 col-sm-6">
					<a target="_blank" href="http://gbadwokaci.pl" class="portfolio-box">
						<img src="img/portfolio/gbadwokaci.jpg" height="659" class="img-responsive" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									Website
								</div>
								<div class="project-name">
									gbadwokaci.pl (2012)
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a target="_blank" href="http://bilans.eu" class="portfolio-box">
						<img src="img/portfolio/bilans.jpg" height="659" class="img-responsive" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									Website
								</div>
								<div class="project-name">
									bilans.eu (2011)
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a target="_blank" href="http://wszystkodlafirmy.pl" class="portfolio-box">
						<img src="img/portfolio/wdf.jpg" height="659" class="img-responsive" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									Website
								</div>
								<div class="project-name">
									wszystkodlafirmy.pl (2011)
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>

	<section id="kontakt">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<h2 translate class="section-heading wow bounceIn">{{'CONTACT'}}</h2>
					<hr />
					<p translate>{{'READY_TO_HIRE_ME'}}</p>
					<p translate>{{'USE_THE_CONTACT_FORM'}}</p>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<div class="panel panel-default" ng-show="!vm.success">
						<div class="panel-body">
							<form role="form" name="contactForm" id="contactForm" ng-submit="vm.submitForm(vm.name, vm.email, vm.message)" novalidate>
								<div class="row">
									<!-- Name -->
									<div class="form-group col-sm-6" ng-class="{ 'has-error': contactForm.name.$touched && contactForm.name.$invalid }">
										<label translate for="name" class="h4 text-uppercase">{{'NAME_SURNAME'}}</label>
										<input translate type="text" class="form-control" name="name" id="name" ng-model="vm.name" placeholder="" required ng-minlength="2"
										ng-maxlength="30">
									</div>

									<!-- Email -->
									<div class="form-group col-sm-6" ng-class="{ 'has-error': contactForm.email.$touched && contactForm.email.$invalid }">
										<label translate for="email" class="h4 text-uppercase">{{'EMAIL'}}</label>
										<input translate type="email" class="form-control" name="email" id="email" ng-model="vm.email" placeholder="" required>
									</div>
								</div>

								<!-- Message -->
								<div class="form-group" ng-class="{ 'has-error': contactForm.message.$touched && contactForm.message.$invalid }">
									<label translate for="message" class="h4 text-uppercase">{{'MESSAGE'}}</label>
									<p class="small pull-right" ng-show="vm.message.length > 5"> {{vm.message.length}} / 1000</p>
									<textarea name="message" id="message" class="form-control" rows="5" ng-model="vm.message" placeholder="" required ng-minlength="5"
									ng-maxlength="1000"></textarea>
								</div>

								<!-- Submit -->
								<button translate ng-disabled="contactForm.$invalid || vm.loading" type="submit" id="form-submit" class="btn btn-primary btn-xl btn-block">{{'SEND'}}</button>
								<div class="row">
									<div role="alert" class="help-block" ng-messages="contactForm.name.$error" ng-show="contactForm.name.$touched">
										<p class="text-danger" translate ng-message="minlength">{{'NAME_TOO_SHORT'}}</p>
										<p class="text-danger" translate ng-message="maxlength">{{'NAME_TOO_LONG'}}</p>
										<p class="text-danger" translate ng-message="required">{{'NAME_REQUIRED'}}</p>
									</div>
									<div class="help-block" ng-messages="contactForm.email.$error" ng-show="contactForm.email.$touched">
										<p class="text-danger" translate ng-message="required">{{'EMAIL_REQUIRED'}}</p>
										<p class="text-danger" translate ng-message="email">{{'EMAIL_INVALID'}}</p>
									</div>
									<div class="help-block" ng-messages="contactForm.message.$error" ng-show="contactForm.message.$touched">
										<p class="text-danger" translate ng-message="minlength">{{'MESSAGE_TOO_SHORT'}}</p>
										<p class="text-danger" translate ng-message="maxlength">{{'MESSAGE_TOO_LONG'}}</p>
										<p class="text-danger" translate ng-message="required">{{'MESSAGE_REQUIRED'}}</p>
									</div>
									<div class="help-block" ng-show="vm.error">
										<p class="text-danger" translate>{{'ERROR'}}</h4>
									</div>
								</div>
							</form>
						</div>
					</div>

					<div class="panel panel-default" ng-show="vm.success || vm.error">
						<div class="panel-body">
							<div class="container" ng-show="vm.success">
								<h4 translate class="text-center text-success">{{'MESSAGE_SENT'}}</h4>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="container" style="margin-top:50px;">
			<div class="row text-center">
				<div class="col-lg-4">
					<i class="fa fa-phone fa-3x wow bounceIn"></i>
					<br />
					<a class="btn btn-primary btn-xl" href="">+48 
                        <script type="text/javascript">
<!--
                            var s="644!444!289";
                            m=""; for (i=0; i<s.length; i++) {	if(s.charCodeAt(i) == 28){	  m+= '&';} else if (s.charCodeAt(i) == 23) {	  m+= '!';} else {	  m+=String.fromCharCode(s.charCodeAt(i)-1);	}}document.write(m);
//-->
                        </script>
                    </a></p>
				</div>

				<div class="col-lg-4">
					<i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
					<br />
					<a class="btn btn-primary btn-xl" target="_blank" href="http://github.com/alexciesielski/">
                        alexciesielski
                    </a>
					</p>
				</div>

				<div class="col-lg-4">
					<i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".2s"></i>
					<br />
					<a class="btn btn-primary btn-xl" href="mailto:alexanderMALPAciesielskiKROPKAco" onclick="this.href=this.href.replace(/MALPA/,'&#64;').replace(/KROPKA/,'&#46;')">
						<span id="mejl"></span>
					</a>
					</p>
				</div>
			</div>
		</div>
	</section>
	
	<!-- Production JS -->
	<!--<script src="dist/js/jquery-bootstrap-angular-firebase-angularfire.js"></script>-->

	<!-- jQuery -->
	<script src="js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="js/ciesielski-co.bootstrap.min.js"></script>

	<!-- Angular + Firebase -->
	<script src="js/angular.min.js"></script>
	<script src="js/firebase.js"></script>
	<script src="js/angularfire.min.js"></script>

	
	
	<!-- Plugin JavaScript -->
	<script src="js/jquery.easing.min.js"></script>
	<script src="js/jquery.fittext.js"></script>
	<script src="js/wow.min.js"></script>

	<script src="js/angular-translate.min.js"></script>
	<script src="js/angular-route.min.js"></script>
	<script src="js/angular-messages.min.js"></script>
	<script src="js/angular-sanitize.min.js"></script>

	<!-- App Javascript -->
	<script src="js/app.module.js"></script>
	<script src="js/app.controller.js"></script>

	<!-- Custom Theme JavaScript -->
	<script src="js/creative.js"></script>

	<!-- Typed.js -->
	<script src="js/typed.min.js"></script>
	<script>
		$(function () {
            $("#typed").typed({
                strings: ["FULL-STACK DEVELOPER", "BACK-END DEVELOPER", "FRONT-END DEVELOPER", "MOBILE DEVELOPER"],
                // typing speed
                typeSpeed: 50,
                // time before typing starts
                startDelay: 500,
                // backspacing speed
                backSpeed: 0,
                // time before backspacing
                backDelay: 1000,
                // loop
                loop: true,
                // false = infinite
                loopCount: false,
                // show cursor
                showCursor: true,
                // character for cursor
                cursorChar: "|",
                // either html or text
                contentType: 'html' // or 'text'
            });
        });
	</script>

	<!--obscuremail-->
	<script>
		var parts = ["alexander", "ciesielski", "co", "&#46;", "&#64;"];
        var mejl = parts[0] + parts[4] + parts[1] + parts[3] + parts[2];
        document.getElementById("mejl").innerHTML = mejl;
	</script>
</body>

</html>